@charset "utf-8";
*{-webkit-box-sizing: border-box;box-sizing: border-box;/*-webkit-user-select: none;*/ /*添加此样式会造成iOS下input无法输入*/outline: none;-webkit-tap-highlight-color: rgba(200,200,200,0);}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,textarea,button,menu{margin:0;padding:0;}
/** { margin: 0; padding: 0; }*/
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;-webkit-appearance: none;border-radius: 0;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
html {font-family:sans-serif,Arial,'Helvetica Neue',Helvetica,'Microsoft Yahei',STHeiTi; height:100%;}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
img { border: none; vertical-align: middle; }
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
html,body {overflow-x:hidden; font-size: 12px; background-color: #f2f2f2; -webkit-overflow-scrolling: touch;}

a { text-decoration: none; outline: none; /*设置的tap  A标签的时候出现的黑色高亮*/ -webkit-tap-highlight-color: rgba(200,200,200,0); color: #999999; }
a:active { outline: 0; }
.inner { width: 1200px; margin: 0 auto; }
.fl { float: left;}
.fr { float: right;}
.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; } /*清除浮动*/
input { outline: none;font-family:sans-serif, Arial, 'Microsoft Yahei', 'Helvetica Neue', Helvetica, STHeiTi; border-radius:0;}
input[type="text"],
input[type="tel"] { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* 去除iphone ipad 设备默认按钮样式 */
input[type="button"], input[type="submit"], input[type="reset"], input[type="number"], input[type="text"] { -webkit-appearance: none; border-radius: 0; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }

/* 多出的文字用省略号代替 */
.texthide {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.texthides {display: -webkit-box !important; overflow: hidden;text-overflow: ellipsis;word-break: break-all;
-webkit-box-orient: vertical;-webkit-line-clamp: 3; /*数字几就代表几行*/ }

/* public */
.p_head { width: 100%; height: 36px; line-height: 36px; border-bottom: 1px solid #e9e9e9; background-color: #f8f8f8; }
.p_head .welcome { margin-right: 20px; }
.p_head .info .sign { color: #999999; margin-right: 6px; }
.p_head .info .join { color: #999999; }
.p_head .info .sign:hover,.p_head .info .join:hover { color: #e62e04; }
.p_head .right .item { padding: 0 15px; border-right: 1px solid #e9e9e9; }
.p_head .right .item-more { position: relative; border-right: 1px solid #e9e9e9; }
.p_head .right .item-more .title { padding: 0 28px 0 15px; transition: box-shadow .3s; }
.p_head .right .item-more .zi { color: #999999; line-height: 35px; }
.p_head .right .item-more .more { width: 10px; position: absolute; top: 14px; right: 12px; transition: all .3s; }
.p_head .right .item-more .list { position: absolute; top: 36px; left: -1px; z-index: 99; width: 150px; transition: box-shadow .3s; background-color: #ffffff; border: 1px solid #dddddd; border-top: none; box-shadow: 0 3px 5px 0 rgba(51,51,51,.2); display: none; }
.p_head .right .item-more .list a { display: block; padding: 0 15px; }
.p_head .right .item-more:hover .more { transform: rotateX(180deg); }
.p_head .right .item-more:hover .title { height: 36px; background-color: #ffffff; border: 1px solid #dddddd; border-top: none; border-bottom: none; margin: 0 -1px 0 -1px; box-shadow: 0 -5px 5px 0 rgba(51,51,51,.2); }
.p_head .right .item-more:hover .list { display: block; }
.p_head .right .item-more:hover .list a:hover { background-color: #ececec; color: #666; }

.p_nav { width: 100%; height: 105px; border-bottom: 1px solid #e9e9e9; background-color: #ffffff; }
.p_nav .logo .link { display: block; margin: 30px 30px 0 30px; }
.p_nav .logo .link img { width: 150px; }
.p_nav .right { width: 990px; }
.p_nav .right .top { height: 40px; margin-top: 30px; }
.p_nav .right .search .search_info { width: 550px; height: 40px; padding: 0 15px; border: 1px solid #cbcbcb; border-right: none; border-radius: 3px 0 0 3px; }
.p_nav .right .search .search_btn { width: 50px; height: 40px; border: none; background-color: #e62e04; border-radius: 0 3px 3px 0; position: relative; cursor: pointer; }
.p_nav .right .search .search_btn img { display: block; width: 30px; margin: 0 auto; }
.p_nav .right .info { cursor: pointer; }
.p_nav .right .info .pic { width: 38px; margin-right: 10px; }
.p_nav .right .info .num { min-width: 25px; height: 16px; line-height: 14px; text-align: center; font-size: 12px; padding: 0 2px; color: #fff; background-color: #e62e04; border-radius: 8px; margin-top: 4px; }
.p_nav .right .info .cart { line-height: 1.6; }
.p_nav .right .hot { padding-top: 10px; }
.p_nav .right .hot .link { padding: 0 8px; height: 16px; line-height: 16px; border-right: 1px solid #dedede; }
.p_nav .right .hot .link:hover { color: #e62e04; text-decoration: underline; }
.p_nav .right .hot .link:nth-last-child(1) { border-right: none; }
.p_nav .right .hot .link:nth-of-type(1) { padding-left: 0; }

.p_help { width: 100%; min-height: 210px; background-color: #e8e8e8; padding-top: 30px; }
.p_help .wrap { width: 50%; }
.p_help .wrap dl { padding: 0 40px 25px 0; }
.p_help .wrap .title { font-size: 16px; line-height: 28px; color: #333; margin-bottom: 5px;}
.p_help .wrap dd { font-size: 13px; line-height: 18px; color: #999; margin-left: 0; }
.p_help .wrap dd a { color: #999; }
.p_help .wrap dd a:hover { color: #e62e04; }

.p_copywrite { background-color: #333; color: #666; height: 35px; line-height: 35px; }
