.i_nav_banner { height: 600px; width: 100%; background-color: #FCF9F7; }
.i_nav_banner .navigation { width: 590px; height: 600px; background-color: #F9F3EF; }
.i_nav_banner .navigation .wrap_out { width: 100%; height: 45px; position: relative; }
.i_nav_banner .navigation .wrap_out .tit { padding: 0 0 0 30px; }
.i_nav_banner .navigation .wrap_out .tit .aa { font-size: 14px; color: #666; height: 16px; line-height: 16px; border-right: 1px solid #dedede; }