.i_fullpage .section1 .slide { width: 100%; height: 100%; background: url(../image/i_banner1.jpg) no-repeat center top; background-size: cover; } 
.i_nav { width: 100%; height: 125px; position: fixed; top: 0; left: 0; z-index: 99; transition: all 300ms; } 
.i_nav .logo .link { display: block; width: 363px; height: 62px; position: absolute; top: 50%; left: 40px; transform: translateY(-50%); background: url(../image/i_logo.png) no-repeat center top; background-size: cover; z-index: 99; transition: all 300ms; }
.i_nav .menu { height: 50px;  position: absolute; top: 50%; right: 26px; transform: translateY(-50%); z-index: 99; }
.i_nav .menu .txt { font-size: 18px; line-height: 50px; color: #fff; transition: all 300ms; }
.i_nav .menu .wrap_icon { padding: 14px; cursor: pointer; }
.i_nav .icon { transform: translateY(-7px); }
.i_nav .icon, .i_nav .icon:before, .i_nav .icon:after { display: inline-block; content: ""; width: 20px; height: 2px; position: relative; transition: all 300ms cubic-bezier(0.305, 0.1, 0.485, 0.87); }
.i_nav .icon:before { position: absolute; top: -7px; }
.i_nav .icon:after { position: absolute; top: 7px; }
.i_nav .icon, .i_nav .icon:before, .i_nav .icon:after { background-color: #fff; transition: all 300ms; }
.i_nav .menu_wrap { box-sizing: border-box; width: 100%; padding: 35px 0; background: #ebebeb; position: fixed; top: 0; left: 0; display: none; }
.i_nav .menu_wrap_flex { display: flex; justify-content: center; }
.i_nav .menu_wrap .wrap { margin: 0 30px; text-align: center; }
.i_nav .menu_wrap .title {font-size: 16px; line-height: 1.6; color: #333333; margin-bottom: 20px; }
.i_nav .menu_wrap .link_dd { margin-bottom: 10px; }
.i_nav .menu_wrap .link {font-size: 14px; line-height: 1.6; color: #a6a6a6; }
.i_nav .menu_wrap .link:hover { text-decoration: underline; }

.i_nav.hover { background: #eeeeee; }
.i_nav.hover .logo .link { background: url(../image/i_logo_active.png) no-repeat center top; background-size: cover;  }
.i_nav.hover .menu .txt { color: #97192f; }
.i_nav.hover .icon, .i_nav.hover .icon:before, .i_nav.hover .icon:after { background-color: #97192f; }

.i_nav.click { background: #eeeeee; }
.i_nav.click .logo .link { background: url(../image/i_logo_active.png) no-repeat center top; background-size: cover;  }
.i_nav.click .menu .txt { color: #97192f; }
.i_nav.click .icon { background-color: transparent; }
.i_nav.click .icon:before { background-color: #97192f; top: 0px; transform: rotate(45deg); }
.i_nav.click .icon:after { background-color: #97192f; top: 0px; transform: rotate(-45deg); }

.i_fullpage .section2 { width: 100%; height: 100%; background: url(../image/i_work_bg.jpg) no-repeat center top; background-size: cover; position: relative; }
.i_fullpage .section2 .box_wrap { width: 1085px; height: 624px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.i_fullpage .section2 .box_wrap .left { width: 518px; height: 100%; background: url(../image/i_work_box.jpg) no-repeat center top; background-size: cover; position: relative; }
.i_fullpage .section2 .box_wrap .left .wrap { width: 100%; height: 120px; position: absolute; top: 50%; margin-top: -50px; }
.i_fullpage .section2 .box_wrap .left .wrap .title h2 { font-size: 45px; font-weight: bold; line-height: 1.6; color: #ffffff; text-align: center; letter-spacing: 4px; }
.i_fullpage .section2 .box_wrap .left .wrap .title .line { width: 104px; height: 1px; background: #fff; position: absolute; top: 76px; left: 50%; margin-left: -52px; }
.i_fullpage .section2 .box_wrap .left .wrap .english { font-size: 18px; line-height: 3.4; color: #e1b995; text-align: center; letter-spacing: 2px; }
.i_fullpage .section2 .box_wrap .right .item { display: block; box-sizing: border-box; width: 556px; height: 198px; padding: 15px 0 0 20px; background: rgba(0,0,0,.65); margin-bottom: 15px; transition: all .3s; position: relative;  }
.i_fullpage .section2 .box_wrap .right .item .shade { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; }
.i_fullpage .section2 .box_wrap .right .wrap .title h2 { font-size: 24px; font-weight: bold; line-height: 1.6; color: #ffffff; letter-spacing: 4px; }
.i_fullpage .section2 .box_wrap .right .wrap .title .line { width: 70px; height: 1px; background: #fff; position: absolute; top: 58px; left: 20px; }
.i_fullpage .section2 .box_wrap .right .wrap .english { font-size: 12px; line-height: 1.4; color: #ebc095; letter-spacing: 2px; margin-top: 16px; }
.i_fullpage .section2 .box_wrap .right .item1 .shade { background: url(../image/i_work_fund_d.jpg) no-repeat center top; background-size: cover; }
.i_fullpage .section2 .box_wrap .right .item2 .shade { background: url(../image/i_work_money_d.jpg) no-repeat center top; background-size: cover; }
.i_fullpage .section2 .box_wrap .right .item3 .shade { background: url(../image/i_work_science_d.jpg) no-repeat center top; background-size: cover; }
.i_fullpage .section2 .box_wrap .right .item:hover { background: rgba(0,0,0,.25); }

.i_fullpage .section3 { width: 100%; height: 100%; background: url(../image/i_about_bg.jpg) no-repeat center top; background-size: cover; position: relative;  }
.i_fullpage .section3 .box_wrap { width: 1162px; height: 624px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.i_fullpage .section3 .box_wrap .left { width: 518px; height: 100%; background: url(../image/i_about_box.jpg) no-repeat center top; background-size: cover; position: relative; }
.i_fullpage .section3 .box_wrap .left .wrap { width: 100%; height: 120px; position: absolute; top: 50%; margin-top: -50px; }
.i_fullpage .section3 .box_wrap .left .wrap .title h2 { font-size: 45px; font-weight: bold; line-height: 1.6; color: #ffffff; text-align: center; letter-spacing: 4px; }
.i_fullpage .section3 .box_wrap .left .wrap .title .line { width: 104px; height: 1px; background: #fff; position: absolute; top: 76px; left: 50%; margin-left: -52px; }
.i_fullpage .section3 .box_wrap .left .wrap .english { font-size: 18px; line-height: 3.4; color: #e1b995; text-align: center; letter-spacing: 2px; }
.i_fullpage .section3 .box_wrap .right { width: 644px; height: 624px; }
.i_fullpage .section3 .box_wrap .right .item { box-sizing: border-box; width: 305px; height: 305px; padding: 15px 0 0 20px; background: rgba(0,0,0,.65); margin: 0 0 15px 15px; transition: all .3s; position: relative;  }
.i_fullpage .section3 .box_wrap .right .item .shade { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; }
.i_fullpage .section3 .box_wrap .right .wrap .title h2 { font-size: 24px; font-weight: bold; line-height: 1.6; color: #ffffff; letter-spacing: 4px; }
.i_fullpage .section3 .box_wrap .right .wrap .title .line { width: 70px; height: 1px; background: #fff; position: absolute; top: 58px; left: 20px; }
.i_fullpage .section3 .box_wrap .right .wrap .english { font-size: 12px; line-height: 1.4; color: #ebc095; letter-spacing: 2px; margin-top: 16px; }
.i_fullpage .section3 .box_wrap .right .item1 .shade { background: url(../image/i_about_box1_d.jpg) no-repeat center top; background-size: cover; }
.i_fullpage .section3 .box_wrap .right .item2 .shade { background: url(../image/i_about_box2_d.jpg) no-repeat center top; background-size: cover; }
.i_fullpage .section3 .box_wrap .right .item3 .shade { background: url(../image/i_about_box3_d.jpg) no-repeat center top; background-size: cover; }
.i_fullpage .section3 .box_wrap .right .item4 .shade { background: url(../image/i_about_box4_d.jpg) no-repeat center top; background-size: cover; }
.i_fullpage .section3 .box_wrap .right .item:hover { background: rgba(0,0,0,.25); }

.i_fullpage .section4 { width: 100%; height: 100%; background: url(../image/i_contact_bg.jpg) no-repeat center top; background-size: cover; position: relative;  }
.i_fullpage .section4 .box_wrap { box-sizing: border-box; width: 1200px; height: 480px; padding-left: 115px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.i_fullpage .section4 .box_wrap .title_wrap { width: 100%; height: 120px; position: relative; }
.i_fullpage .section4 .box_wrap .title_wrap .title h2 { font-size: 45px; font-weight: bold; line-height: 1.6; color: #ffffff; text-align: center; letter-spacing: 4px; }
.i_fullpage .section4 .box_wrap .title_wrap .title .line { width: 104px; height: 1px; background: #ffffff; position: absolute; top: 76px; left: 50%; margin-left: -52px; }
.i_fullpage .section4 .box_wrap .title_wrap .english { font-size: 18px; line-height: 1.6; color: #e1b995; text-align: center; letter-spacing: 2px; margin-top: 16px; }
.i_fullpage .section4 .box_wrap .address { margin-top: 90px; }
.i_fullpage .section4 .box_wrap .address .logo { width: 222px; margin-right: 60px; }
.i_fullpage .section4 .box_wrap .address .logo .title { font-size: 24px; line-height: 1.6; color: #ffffff; margin-top: 10px; text-align: center; letter-spacing: 2px; }
.i_fullpage .section4 .box_wrap .info { padding-top: 30px; }
.i_fullpage .section4 .box_wrap .info .item { font-size: 22px; line-height: 1.6; color: #ffffff; margin-bottom: 25px; letter-spacing: 2px; }
.i_fullpage .section4 .copyright { width: 100%; height: 50px; background: rgba(255,255,255,.85); position: absolute; bottom: 0; left: 0; z-index: 9; }
.i_fullpage .section4 .copyright p { font-size: 14px; line-height: 50px; color: #878787; text-align: center; }

.i_fullpage  .i_next { width: 55px; height: 55px; background: url(../image/i_next.png) no-repeat center top; background-size: cover; position: absolute; z-index: 99; cursor: pointer; }
.i_fullpage  .i_top { width: 55px; height: 55px; background: url(../image/i_top.png) no-repeat center top; background-size: cover; position: absolute; z-index: 99; cursor: pointer; }
.i_fullpage .section1 .i_next { right: 50px; bottom: 90px; }
.i_fullpage .section1 .i_top { right: 50px; bottom: 160px; display: none;}
.i_fullpage .section2 .i_next { right: 50px; bottom: 90px; }
.i_fullpage .section2 .i_top { right: 50px; bottom: 160px;}
.i_fullpage .section3 .i_next { right: 50px; bottom: 90px; }
.i_fullpage .section3 .i_top { right: 50px; bottom: 160px;}
.i_fullpage .section4 .i_next { right: 50px; bottom: 90px; display: none; }
.i_fullpage .section4 .i_top { right: 50px; bottom: 160px;}

/* 公共的 */
.head { width: 100%; height: 100px; background: #ffffff; border-bottom: 1px solid #e0e0e0; position: fixed; z-index: 999; }
.head .box_bg { width: 100%; height: 40px; background: #fbfbfb; position: absolute; top: 100px; left: 0; display: none; }
.head .nav .logo { width: 269px; margin-top: 30px; margin-right: 100px; }
.head .nav .logo img { width: 100%; height: 100%; }
.head .nav .wrap_father { margin: 0 28px; position: relative; }
.head .nav .wrap_father .link_father { display: block; font-size: 16px; line-height: 100px; color: #333333; }
.head .nav .wrap_father .link_father.active, .head .nav .wrap_father .link_father:hover { color: #a23b4a; }
.head .nav .wrap_father .sub { width: 800px; height: 40px; position: absolute; top: 100px; left: 50%; margin-left: -400px; display: none; }
/* .head .nav .right .wrap_father .sub { right: 0; left: auto; }
.head .nav .right .wrap_father .sub .link_son { float: right; margin: 0 0 0 25px; } */
.head .nav .wrap_father .sub { text-align: center; }
.head .nav .wrap_father .sub .wrap_son { display: inline-block; }
.head .nav .wrap_father .sub .link_son { font-size: 14px; line-height: 40px; color: #494949; margin: 0 14px; }
.head .nav .wrap_father .sub .link_son a { color: #494949; }
.head .nav .wrap_father .sub .link_son a.active, .head .nav .wrap_father .sub .link_son a:hover { color: #a23b4a; }

.public_title { width: 100%; height: 100px; position: relative; }
.public_title .tit { font-size: 32px; font-weight: bold; line-height: 1.8; color: #9c2438; text-align: center; letter-spacing: 2px; }
.public_title .english { font-size: 18px; line-height: 1.8; color: #717171; text-align: center; }
.public_title .line { width: 60px; height: 1px; background-color: #717171; position: absolute; bottom: 0; left: 50%; margin-left: -30px; }

/* 集团简介 */
.a_summary { padding-top: 170px; padding-bottom: 150px; }
.a_summary .content .pic { margin: 60px 0 60px 0; }
.a_summary .content .pic img { width: 590px; }
.a_summary .content .write { font-size: 14px; line-height: 2.4; color: #666666; text-indent: 2em; margin-bottom: 30px; }
/* 总裁致辞 */
.a_president { padding-top: 170px; padding-bottom: 150px; }
.a_president .content { padding-top: 110px; }
.a_president .content .pic { width: 330px; margin-right: 45px; }
.a_president .content .write { font-size: 14px; line-height: 2.6; color: #666666; text-indent: 2em; margin-bottom: 30px; }
/* 管理团队 */
.a_team { padding-top: 170px; padding-bottom: 150px; }
.a_team .content { width: 100%; margin-top: 100px; }
.a_team .content .gallery-top { width: 100%; }
.a_team .content .gallery-top .swiper-slide .top { height: 170px; }
.a_team .content .gallery-top .swiper-slide .top_wrap { padding-left: 340px; }
.a_team .content .gallery-top .swiper-slide .top_wrap .name { font-size: 26px; font-weight: bold; line-height: 1.4; color: #000000; }
.a_team .content .gallery-top .swiper-slide .top_wrap .item { font-size: 16px; line-height: 1.4; color: #000000; margin-top: 10px; }
.a_team .content .gallery-top .swiper-slide .bottom { box-sizing: border-box; width: 100%; min-height: 166px; padding: 20px 10px 30px 340px; border: 1px solid #9c2438; position: relative; }
.a_team .content .gallery-top .swiper-slide .bottom .summary { font-size: 18px; line-height: 2.4; color: #818181; }
.a_team .content .gallery-top .swiper-slide .bottom .pic { width: 300px; height: 300px; background: url(../image/a_team_pic1.jpg) no-repeat center top; background-size: cover; position: absolute; left: 20px; top: -170px; }
.a_team .content .gallery-thumbs { margin: 0 auto; padding-top: 50px; }
.a_team .content .gallery-thumbs .swiper-slide .small_wrap { width: 100%; }
.a_team .content .gallery-thumbs .swiper-slide .pic { width: 178px; height: 178px; background: url(../image/a_team_pic1.jpg) no-repeat center top; background-size: cover; margin: 0 auto; }
.a_team .content .gallery-thumbs .swiper-slide .name { font-size: 22px; line-height: 1.6; color: #000000; text-align: center; margin: 10px 0 6px; }
.a_team .content .gallery-thumbs .swiper-slide .job { font-size: 16px; line-height: 1.6; color: #818181; text-align: center; }
.a_team .content .gallery-thumbs .swiper-slide.swiper-slide-active .pic { border: 2px solid #a7a7a7; }
.a_team .content .gallery-thumbs .swiper-slide.swiper-slide-active .pic:after { width: 16px; height: 16px; background: #a7a7a7; content: ""; position: absolute; top: 0; right: 50%; z-index: -1; margin-top: -5px; margin-right: -5px; transition: 0.5s; transform: rotate(-45deg); }
/* 组织架构 */
.a_frame { padding-top: 170px; padding-bottom: 150px; }
.a_frame .content .pic1 { display: block; width: 1042px; margin: 115px auto 230px; }
.a_frame .content .pic2 { display: block; width: 1097px; margin: 0 auto; }
/* 发展历程 */
.a_expandPath { padding-top: 170px; padding-bottom: 150px; }
.a_expandPath .content { position: relative; margin-top: 100px; width: 100%; background: url(../image/a_expandPath_bg.png) repeat-y center top; }
.a_expandPath .content .cont_wrap { width: 122px; height: 122px; border: 2px solid #9c2438; border-radius: 100%; background-color: #eeeeee; margin: 0 auto 135px; position: relative; }
.a_expandPath .content .cont_wrap .num { font-size: 30px; font-weight: bold; line-height: 122px; color: #333333; text-align: center; }
.a_expandPath .content .cont_wrap .line { width: 95px; height: 2px; background-color: #a7a7a7; position: absolute; top: 60px; left: 132px; }
.a_expandPath .content .cont_wrap .wrap { width: 400px; position: absolute; top: 50%; left: 250px; top: 50%; transform: translateY(-50%); }
.a_expandPath .content .cont_wrap .wrap .item { font-size: 18px; line-height: 1.4; color: #717171; margin-bottom: 20px; margin-top: 20px; }
.a_expandPath .content .cont_wrap:nth-of-type(even) .line { left: auto; right: 132px; }
.a_expandPath .content .cont_wrap:nth-of-type(even) .wrap { left: auto; right: 250px; }
.a_expandPath .content .cont_wrap:nth-of-type(even) .wrap .item { text-align: right; }
/* 人才招聘 */
.a_work { padding-top: 170px; padding-bottom: 150px; }
.a_work .content { box-sizing: border-box; margin-top: 60px; padding: 0 20px 20px; background-color: #ffffff; }
.a_work .con_wrap { border-bottom: 1px solid #dddddd; position: relative; max-height: 150px; overflow: hidden; transition: max-height .3s; }
.a_work .con_wrap:nth-last-of-type(1) { border: 0; }
.a_work .con_wrap.active { max-height: 700px; }
.a_work .con_wrap .arrow { width: 26px; height: 18px; background: url(../image/a_work_arrow.png) no-repeat center top; background-size: contain; position: absolute; right: 10px; bottom: 30px; cursor: pointer; transition: all .3s; }
.a_work .con_wrap.active .arrow { transform: rotateX(180deg); }
.a_work .con_wrap .job { font-size: 22px; font-weight: bold; line-height: 2.4; color: #333333; margin-top: 10px; }
.a_work .con_wrap .wrap { padding-bottom: 20px; }
.a_work .con_wrap .wrap .title { font-size: 18px; line-height: 1.8; color: #333333; }
.a_work .con_wrap .wrap .item { font-size: 14px; line-height: 1.8; color: #7e7e7e; }